@charset "utf-8";

/* CSSリセット、フォント、カラーの設定*/
* {
  margin: 0;
  padding: 0;
  color: rgb(36, 36, 36);
  font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /*フォント種類*/
}
/* フッター固定用 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* 配色 */
:root {
  --link-color: #39c;
}
/* サイト全体の設定 */
.wrapper,
.main-nav {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 4%;
}

/* アニメ選択 */
.category {
  margin: 35px 0 35px 0;
}
.category a {
  text-decoration: none;
}
.category .active {
  color: #019bdf;
}
.category ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  margin-bottom: 20px;
}
.category li:not(:last-child) {
  margin-right: 20px;
}

/* リストデザイン */
.card-list {
  /* padding: 24px; */
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(auto-fit, 243px);
  align-items: end;
  grid-gap: 28px;
  justify-content: space-around;
}
.card-list a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px #ccc;
  transition: 0.4s;
}
/*
.card:hover{
    transform: scale(1.03);
    transition : .4s;
}
*/
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  border-bottom: 1px solid #ddd;
}
.card-content {
  padding: 10px 20px 10px 20px;
}
.card-btn {
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  padding: 3px;
}
.card-btn:hover {
  border: 1px solid rgb(36, 36, 36);
}
.card-title {
  height: 40px;
  font-size: 14px;
  margin-bottom: 10px;
}
.card-title {
  /* 2行以上の場合は...を表示 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.card-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.5;
}
.XRelease,
.officeSiteRelease {
  text-align: center;
  width: 100%;
  margin: 1px;
  padding: 3px;
  border: solid 1px;
}
.officeSiteRelease {
  color: var(--link-color) !important;
  border: solid 1px var(--link-color);
}
.XRelease:hover {
  color: #fff;
  background: rgb(36, 36, 36);
}
.officeSiteRelease:hover {
  color: #fff !important;
  background: var(--link-color);
}

@media screen and (max-width: 780px) {
  /* リストデザイン */
  #card-list.wrapper {
    max-width: none;
    margin: 0;
    padding: 0;
  }
  .card-list {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .card,
  .nav-content,
  .card-img {
    box-shadow: none;
    border-radius: 0px;
  }
  .card {
    background: none;
  }
  .card-content {
    padding: 0;
  }
  .card-img {
    border-bottom: none;
  }
  .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .card-text {
    font-size: 11px;
  }
  .card-text span {
    display: block;
  }
}
